In [4]:

import pandas as pd

c = ["COURSE","PREREQ","CREDITS","TERM"]
prog = [('CPTS_121', {'NONE'}, 4, 1),
        ('CPTS_122', {'CPTS_121'}, 4, 2),
        ('CPTS_223', {'CPTS_121', 'CPTS_122'}, 3, 3),
        ('CPTS_131', {'NONE'}, 4, 1),
        ('CPTS_132', {'CPTS_131'}, 4, 2),2
        ('CPTS_233', {'CPTS_131', 'CPTS_132'}, 3, 3)
]


df = pd.DataFrame(prog, columns=c)

df

     COURSE                PREREQ  CREDITS  TERM
0  CPTS_121                {NONE}        4     1
1  CPTS_122            {CPTS_121}        4     2
2  CPTS_223  {CPTS_121, CPTS_122}        3     3

In [7]:
ucore = ["ROOT","COMM","QUAN","WRTG","ART","BSCI","HUM","PSCI","SSCI","DIVR","CAPS"]

for f in ucore:
    file = open("bin/"+f.lower()+".csv", mode='a')
    file.close